@font-face{
    font-family: "Montserrat-Extra_Bold";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

